/*for the character page*/

*:focus {
    outline: none;
    border:none;
}

@font-face {
    font-family: 'Pixelify';
    src: url('../assets/fonts/PixelifySans-VariableFont_wght.ttf');
}

body{
    margin:0;
    padding:0;
    overflow: hidden;
}
 
body{
    margin:0;
    height: 100vh;
    background-image: url("../assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;

    box-sizing: border-box;

    border-style: solid;
    border-color:#0F3A65;

    border-right-width:7px;
    border-left-width:7px;
    border-bottom-width: 7px;
    border-top-width:13px;
}
.container{
    position:relative;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

#game{
    font-family: 'Pixelify',sans-serif;
    font-size:38px;
    color:#ffffff;
    margin:0px;
    border:0px;
    padding: 0px;

    background: none;

    position:fixed;
    top: 7px;
    left:16px;
    display:flex;
    flex-direction:row;

    cursor:pointer;

    text-decoration:none;

}

.choosec{
    font-family: 'Pixelify',sans-serif;
    color: #ffffff;
    font-size:70px;

    width:460px;

    text-align:center;

    border:none;
    padding:none;

    position:absolute;
    top:100px;
    left: 50%;
    transform: translateX(-50%);
}

#select{
    position:absolute;
    left:666px;
    top: 667px;

    height:46px;
    width:190px;

    margin:0px;

    font-family: 'Pixelify',sans-serif;
    color: #ffffff;
    font-size:32px;

    background-color: #DEDCB2;
    border:1px solid #858478;
    border-radius:15px;
}

#message{
    position:absolute;
    top: 618px;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Pixelify',sans-serif;
    font-size:26px;
    color:#ffffff;
}

#left,#right{
    width:99px;
    height:99px;

    font-family: 'Pixelify',sans-serif;
    font-size:60px;
    color:#ffffff;

    background-color: #DEDCB2;
    

    border-radius: 50%;

    position:absolute;
}  

#left{
    left:-40px;
    border: none;
}

#right{
    right: -40px;
    border: none;
}



.selector{
    display:flex;
    align-items:center;
    justify-content: center;

    width:740px;
    height:500px;

    border:none;
    outline: none;
    
    position:absolute;
    top:265px;
    left:50%;
    transform: translateX(-50%);
}

.viewport{
    width: 400px;
    height: 500px;
     overflow:hidden; /*hides other characters*/

     border: none;
     outline: none;

     display:flex;
     align-items: center;
}

.slider{
    display:flex;
    transition: transform 0.4s ease;

    border: none;
    outline: none;
}
.character{
    
    min-width: 400px;   /* must match JS width */
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: none;
    outline: none;

    padding-top: 0px;

    text-align: center;
}

.character img{
    width:400px;
    height:430px;
    object-fit: contain;

    border: none;
    outline: none;
}

.character p{
    font-size: 45px;
    
    font-family: 'Pixelify',sans-serif;
    color: #ffffff;
    
    margin-top:10px;

    border: none;
    outline: none;
}

.container {
    position: relative;
    height: 100vh;

     border: none;
     outline: none;
}

#jiji{
    border: none;
    outline: none;
}